/_ReSharper.XMeter
/.vs
/XMeter/bin
/XMeter/obj
/XMeter/publish
/XMeterSetup/Debug
/XMeterSetup/Release
/XMeter2/bin
/XMeter2/obj
/packages
/*.rar
/*.exe
*.suo
*.user
*.DotSettings
*.ReSharper
.vs
/Screenshot.png
/XMeter2.Setup/Debug
/XMeter2.Setup/Release
